.main{
  display: grid;
  grid-template-columns: auto auto;
}

.contant1{
  width: 525px;
}
.fix{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    border-radius: 7px/7px;
    width: 500px;
}
.contant2{
   
}


.printPreview{
    text-align: center;
}

.section2{
    margin-top: 7px;
    border-top: 1px dotted black;

    text-align: left;
    border-bottom: 1px dotted black;
    padding-bottom: 7px;

}

.section3{
    margin-top: 7px;
    text-align: left;
    border-bottom: 1px dotted black;
}

.section4{
    margin-top: 7px;
    border-bottom: 1px dotted black;

}
.section5{
    margin-top: 7px;
    border-bottom: 1px dotted black;

}

.section6{
    margin-top: 7px;
    border-bottom: 1px dotted black;

}
.section7{
    margin-top: 7px;
    border-bottom: 1px dotted black;

}
.section8{
    text-align: left;
    margin-top: 7px;
    border-bottom: 1px dotted black;
}
.img{
    border: 5px solid black;
   
}

.selector{
    width: 100px;
    margin-left: 100px;
    border: 2px solid black;
}

.barcode{
    margin: 20px 0px;
}

.inputImg{
    width: 100px;
    margin-left: 70px;
    border: 2px solid black;
}


.contant2 > * {
    font-size:24px;
    font-weight:bold;
   }
   
   .contant2 {
       margin: 0;
       padding: 0;
       width: 576px;
       font-family: 'Roboto Mono', monospace;
/*            overflow:hidden;
*/        }
   table{
     width:576px;
   }
   table .product-name-tag{
     display: block;
     white-space: nowrap;
     overflow: hidden;
     width:268px;
   }
   table .product-name-tag.with-tax-column{
     width:210px;
   }
   .total-label{
     white-space: nowrap;
   }
   .primary-label {
     font-size: 42px;
     font-weight: bold;
   }
   .secondary-label {
       font-size: 30px;
       font-weight: bold;
   }

   .kot-primary-label {
       font-size: 54px;
       font-weight: bold;
   }
   .kot-secondary-label {
       font-size: 36px;
       font-weight: bold;
   }

   .notes-label{
     font-size: 24px;
     font-weight: normal;
   }

   .colon-space {
       margin: 0 4px;
   }

   img {
       max-width: 576px;
   }

   p {
       margin: 0;
       text-align: center;
   }

   .text-center {
       text-align: center;
   }
   .text-left {
       text-align: left;
   }
   .text-right {
       text-align: right;
   }
   .border-style{
     width:576px;
     white-space: nowrap;
     overflow: hidden;
     font-weight:normal;
     line-height:0.75;
   }
   .kot-print-area{
     font-size:24px;
   }
   .iframe-print-container{
     height: 100vh;
     width: 100vw;
     display: block;
     margin: 0px;
     padding: 0px;
     position: fixed;
     top: 0;
     left: 0;
     background: #fff;
     z-index: 14;
   }
   .product-td{
     width:280px;
   }
   .price-td{
     min-width:104px;
   }
   .quantity-td{
     min-width:78px;
   }
   .total-td{
     min-width:112px;
   }
   .tax-td{
     min-width:78px;
   }
   table.with-tax .product-td{
     width:210px;
   }