<div class="main">
    <div class="contant1">

        <div class="fix">
            <div>Print Language</div>
        <div><select name="" id="">
                <option value="">English</option>
                <option value="">Tamil</option>
            </select></div>

        <div>
            <table>
                <tr>
                    <td>Header</td>
                    <td>Footer</td>
                </tr>
                <tr>
                    <td><input #header type="text" (keyup) = "setHeaderText(header.value)" value="welcome"></td>
                    <td><input #footer type="text" (keyup) = "setFooterText(footer.value)" ></td>
                </tr>
            </table>
        </div>
        <div><input type="checkbox" (click)="AllowToSelectLogo()">Print Logo</div>

        <div  *ngIf="this.viewLogo">
            <table>
                <tr>
                    <td><input type="checkbox" (click) = "previewImg('../../../assets/img/OIP.jfif')"> Use branch logo</td>
                    <td><img class="selector" src="../../../assets/img/OIP.jfif" alt=""></td>
                </tr>
            </table>
        </div>

        <div>
            <table>

                <tr>
                    <td><input type="checkbox" checked>Branch Name</td>
                    <td><input type="checkbox">Branch Address</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Branch contact details</td>
                    <td><input type="checkbox">Tax Number</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Tax deatails for each product</td>
                    <td><input type="checkbox">Tax summary</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Customer details</td>
                    <td><input type="checkbox">Sale order type</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Bill date with time</td>
                    <td><input type="checkbox">Till name</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Table name</td>
                    <td><input type="checkbox">Captain name</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Cashier name</td>
                    <td><input type="checkbox">Short bill number</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Total items and quantity</td>
                    <td><input type="checkbox">Product addons</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Branch FSS details</td>
                    <td><input type="checkbox">Product name in separate line</td>
                </tr>

                <tr>
                    <td><input type="checkbox">SKU code</td>
                    <td><input type="checkbox">HSN/SAC code</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Discount for each product</td>
                    <td><input type="checkbox">Total savings</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Payment summary</td>
                    <td><input type="checkbox">Sale terms & conditions</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Customer outstanding amount</td>
                    <td><input type="checkbox">Customer loyalty point</td>
                </tr>

                <tr>
                    <td><input type="checkbox">Barcode</td>
                    <td><input type="checkbox">Recepit Printed time</td>
                </tr>


            </table>
        </div>
        </div>
        


    </div>
    <div class="contant2">
        <div class="printPreview">
            <h3  [innerHTML]="headerText"></h3>
            <div  *ngIf="this.ViewImagePreview">
                <img [src] = "previewImage" class="img" width="200px" alt="not">
            </div>
            <div class="section1">
                <h3  *ngIf="this.branchName" [innerHTML]="printData.branchName"></h3>
                <div [innerHTML]="printData.branchaddres"></div>
                <div [innerHTML]="printData.taxNumber"></div>
                <div [innerHTML]="printData.branchContactDetails"></div>
            </div>

            <div class="section2">

                <div [innerHTML]="'customer : ' + printData.customer.cusName"></div>
                <div [innerHTML]="printData.customer.cusAdress"></div>
                <div [innerHTML]="printData.customer.cusTax"></div>
                <div [innerHTML]="printData.customer.cusCon"></div>

            </div>
            <h3 [innerHTML]="printData.invoiceNo">

            </h3>
            <div class="section3">
               
                <table>
                    <tr>
                        <td [innerHTML]="printData.billDateAndTime"></td>
                        <td [innerHTML]="printData.salesOrderType"></td>

                    </tr>
                    <tr>
                        <td [innerHTML]="printData.tillName"></td>
                        <td [innerHTML]="printData.cashierName"></td>
                    </tr>
                </table>
            </div>

            <div class="section4">
                <table>
                    <tr>
                        <td>Description</td>
                        <td>Tax%</td>
                        <td>Price</td>
                        <td>Qty</td>
                        <td>Total</td>
                    </tr>
                    <tr>
                        <td [innerHTML]="printData.description.description[0]"></td>
                        <td [innerHTML]="printData.description.tax[0]"></td>
                        <td [innerHTML]="printData.description.price[0]"></td>
                        <td [innerHTML]="printData.description.qty[0]"></td>
                        <td [innerHTML]="printData.description.total[0]"></td>
                    </tr>
                    <tr>
                        <td [innerHTML]="printData.description.description[0]"></td>
                        <td [innerHTML]="printData.description.tax[1]"></td>
                        <td [innerHTML]="printData.description.price[2]"></td>
                        <td [innerHTML]="printData.description.qty[3]"></td>
                        <td [innerHTML]="printData.description.total[4]"></td>                    </tr>
                    <tr>
                        <td [innerHTML]="printData.description.description[0]"></td>
                        <td [innerHTML]="printData.description.tax[1]"></td>
                        <td [innerHTML]="printData.description.price[2]"></td>
                        <td [innerHTML]="printData.description.qty[3]"></td>
                        <td [innerHTML]="printData.description.total[4]"></td>                    </tr>
                    <tr>
                        <td [innerHTML]="printData.description.description[0]"></td>
                        <td [innerHTML]="printData.description.tax[1]"></td>
                        <td [innerHTML]="printData.description.price[2]"></td>
                        <td [innerHTML]="printData.description.qty[3]"></td>
                        <td [innerHTML]="printData.description.total[4]"></td>                    </tr>
                    <tr>
                        <td [innerHTML]="printData.description.description[0]"></td>
                        <td [innerHTML]="printData.description.tax[1]"></td>
                        <td [innerHTML]="printData.description.price[2]"></td>
                        <td [innerHTML]="printData.description.qty[3]"></td>
                        <td [innerHTML]="printData.description.total[4]"></td>                    </tr>
                </table>
            </div>




            <div class="section5">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td  [innerHTML]="printData.section.subtotal"></td>
                    </tr>
                    <tr>
                        <td>Discount </td>
                        <td  [innerHTML]="printData.section.discount"></td>
                    </tr>
                    <tr>
                        <td>Product Charges</td>
                        <td  [innerHTML]="printData.section.product"></td>
                    </tr>
                    <tr>
                        <td>Delivery charge </td>
                        <td  [innerHTML]="printData.section.delivery"></td>
                    </tr>
                    <tr>
                        <td>Round Off</td>
                        <td  [innerHTML]="printData.section.roundOff"></td>
                    </tr>
                    <tr>
                        <td>Total </td>
                        <td  [innerHTML]="printData.section.total"></td>
                    </tr>
                </table>
            </div>



            <div class = "section6">
<p><u>Tax Summary</u></p>
<table>
    <tr>
        <td>
            Tax Name
        </td>
        <td>Tax%</td>
        <td>Taxable</td>
        <td>Tax Amt</td>
    </tr>
    <tr>
        <td [innerHTML]="printData.taxSummary[0].s1"></td>
        <td [innerHTML]="printData.taxSummary[0].s2"></td>
        <td [innerHTML]="printData.taxSummary[0].s3"></td>
        <td [innerHTML]="printData.taxSummary[0].s4"></td>
        <td [innerHTML]="printData.taxSummary[0].s5"></td>
    </tr>
    <tr>
        <td [innerHTML]="printData.taxSummary[1].s1"></td>
        <td [innerHTML]="printData.taxSummary[1].s2"></td>
        <td [innerHTML]="printData.taxSummary[1].s3"></td>
        <td [innerHTML]="printData.taxSummary[1].s4"></td>
        <td [innerHTML]="printData.taxSummary[1].s5"></td>
    </tr>

    <tr>
        <td [innerHTML]="printData.taxSummary[2].s1"></td>
        <td [innerHTML]="printData.taxSummary[2].s2"></td>
        <td [innerHTML]="printData.taxSummary[2].s3"></td>
        <td [innerHTML]="printData.taxSummary[2].s4"></td>
        <td [innerHTML]="printData.taxSummary[2].s5"></td>
    </tr>
    
</table>

</div>
<div [innerHTML]="printData.totalItem"></div>
<div class = "section8">
    <div [innerHTML]="'Savings on purchase : '+printData.totalSavings"></div>
    <div [innerHTML]="'Outstanding Amount : '+printData.customerOutStandingAmount"></div>
    
</div>


            <div>
                <img src="../../../assets/img/OIa.jfif" class="barcode" width="300px" alt="not">
            </div>




            <div class="section9">
                <div [innerHTML]="printData.tableName"></div>
                <div [innerHTML]="printData.served"></div>
                <div [innerHTML]="printData.salesTermsAndConditions"></div>
                <div [innerHTML]="printData.tableName"></div>
                <div [innerHTML]="printData.branchFSS"></div>
                <div [innerHTML]="printData.paymentsummary"></div>
            </div>
            
<br>

            <div [innerHTML]="'Printed On : '+printData.date"></div>
           
            <hr style="line-break: normal;">
            <h3  [innerHTML]="footerText"></h3>
        </div>
    </div>
</div>