<div id="main">
    
<addToDo (addEvent)="addElement($event)"></addToDo>

<div *ngIf="this.todoElements.length === 0  else elseBlock">
    <div class="msgNoData">Sorry No Data Available</div>

</div>
<ng-template #elseBlock>
    <div class="msgDataList">Your List of Stundents Task</div>
    <div *ngFor="let item of todoElements">
        <todoList [parentItem] = "item" (delEvent)="delItem($event)" (checkEvent)="checked($event)" (newData)="newUpdateData($event)" (update)="updateData($event)"></todoList>
    </div>
</ng-template>

</div>