/* You can add global styles to this file, and also import other style files */
.subheading{
    font: 1em sans-serif;
    text-align: center;

}


.msgNoData{
    text-align: center;
    background-color: rgb(238, 228, 83);
    margin:7px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-top: 5px ;
    padding-bottom: 5px;
    border-radius: 5px/5px;

}

.msgDataList{
    text-align: center;
    background-color: rgb(119, 238, 83);
    margin:7px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-top: 5px ;
    padding-bottom: 5px;
    border-radius: 5px/5px;
}